// 可設置不同的進入和離開動畫、持續時間和動畫函數
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(10px);
}

.num-list-item {
  transition: all 1s;
  // 因 Vue 使用 FLIP 動畫，過渡元素不能設置為 display: inline。
  // display: inline 不換行，不可設定 width/heigh，元素 width/heigh 由它的內容決定。
  // display: block 換行，可設定 width/heigh。
  // display: inline-block 不換行，可設定 width/heigh。
  display: inline-block;
  margin-right: 10px;
}

.num-list-enter, .num-list-leave-to
/* .num-list-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.num-list-leave-active {
  position: absolute;
}
